@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
  background: linear-gradient(-45deg, black, #250124, #01071f, #001605, rgb(31, 0, 0), rgb(15, 0, 0));
  background-size: 1500% 1500%;
  animation: gradient 20s ease infinite ;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


body, html {
  min-height: 100%;
}

body {
  background-color: #ECF0F1;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

a {
  -webkit-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

a:hover {
  -webkit-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.card {
  border-style: solid;
  border-color: white;
  border-width: 2px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2C3E50), to(#16A085));
  background-image: linear-gradient(0deg, #2C3E50 0%, #16A085 100%);
  width: 42vw;
  height: 75vh;
  margin: 20px;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 900px) and (min-width: 450px) {
  .card {
    width: 37vw;
    height: 40vh;
  }
}

@media only screen and (max-width: 450px) {
  .card {
    width: 80vw;
    height: 50vh;
  }
}

.card-image {
  height: 75vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card-meta {
  font-size: 0.6875em;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  
}

.card-meta:before {
  content: '';
  height: 1px;
  width: 30px;
  background-color: #fff;
  position: relative;
  display: block;
  margin-bottom: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card-text {
  color: #FFF;
  width: 100%;
  background-color: rgba(17, 17, 17, 0.65);
  position: absolute;
  padding: 20px;
  z-index: 10;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card-title {
  margin: 8px 0;
  font-weight: 300;
  font-size: 1.875em;
  width: 100%;
}

.card .anchor:hover .card-text {
  background-color: rgba(17, 17, 17, 0.86);
}

.card .anchor:hover .card-meta:before {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card .anchor:hover .card-image {
  -webkit-transform: translate(20px, 0);
          transform: translate(20px, 0);
  -webkit-transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

a.nostyle{
  text-decoration: none;
  color: white;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */
